.floating-elements-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 50;
    /* Above bg, below main content usually, but we want some FOREGROUND */
    overflow: hidden;
}

.floating-element {
    position: absolute;
    border-radius: 2px;
    mix-blend-mode: screen;
}