.academic-page {
    max-height: 100vh;
    overflow-y: auto;
    padding: 20px;
    background: #1a1a1a; /* Dark background */
    margin-left: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
    color: #ffffff; /* White text */
}

.academic-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
    color: #e6e6e6; /* Light color for headings */
    text-shadow: 0 0 10px rgba(138, 43, 226, 0.8); /* Glowing effect */
}

p {
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #e6e6e6; /* Light color for paragraphs */
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.75rem;
    }
    p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .academic-page {
        margin-left: 10px;
        padding: 15px;
    }
}

@media screen and (max-width: 480px) {
    .academic-page {
        margin-left: 5px;
        padding: 10px;
        width: 100vw;
        overflow-x: hidden;
    }

    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.9rem;
        overflow-wrap: anywhere;
        overflow-x: wrap;
    }
}
